**/target/
**/*.contrib*
*.class
*.war
**/.classpath
**/.project
**/.settings/*
**/generated/*
**/a.sh
**/version.properties
/build/
.gradle/
**/build/**
/caches/
/native/
caches/
native/
**/caches/
**/native/
**/bin/**
/bin/
.idea/
**/out/
*.iml
*.log